html {
  font-size: 16px;

  /* If you set different base font, you might need more tweak */
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #232728;
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.content-body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

@media screen and (max-width: 640px) {
  .content-body {
    background-position-y: top;
    background-size: 250px;
    margin-bottom: 0em;

    /* tweak for footer fixed -- you don't need this */
  }
}

.form-wrapper {
  width: 350px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .form-wrapper {
    margin-top: 35px;
  }
}

@media screen and (max-width: 480px) {
  .form-wrapper {
    width: 90%;
  }
}

.bg-white {
  width: 100%;
  background-color: #171a1a;
  border: 2px solid #aeff00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  text-align: center;
}

.bg-grey {
  width: 100%;
  background-color: #171a1a;
  border: 2px solid #171a1a;
  border-top: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.text-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.field-group {
  border: 0;
  padding: 0.35em 0 0.625em 0;
  text-align: left;
  position: relative;
}

.label {
  font-size: 0.9rem;
  line-height: 1.5;
}

.input {
  padding: 0.5em 0 0.5em 0em;
  width: 100%;
  border: 1px solid #aeff00;
  border-radius: 5px;
  outline: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #232728;
  color: #fafafa;
}

.input::placeholder {
  color: #fafafa;
}

.py-button {
  border: 1px solid #aeff00;
  background-color: #aeff00;
  color: #232728;
  font-weight: normal;
  text-align: center;
  padding: 0.7em;
  border-radius: 5px;
  outline: 0;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.py-button[type = "button"]:hover{
  background-color: #171a1a;
  color: #fafafa;
}

.link-forgot {
  position: absolute;
  right: 10px;
  margin-top: 1em;
  font-size: 0.8rem;
  text-decoration: none;
  color: #6371c5;
  z-index: 2;
}

.link-register {
  background-color: #fff;
  display: flex;
  padding: 0.7em;
  justify-content: center;
  text-decoration: none;
  color: #4d5068;
  border: 1px solid #e5e7ec;
  border-radius: 5px;
  margin-bottom: 1em;
}

.link-about > a {
  color: #aeff00;
  text-decoration: underline;
}

.logo-div {
  position: relative;
  top: 0;
  right: 0;
}
.ghost-logo {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 5px;
  width: auto;
  height: 100px;
}

.boxed {
  display: grid;
  border: 1px solid green ;
  background-color: green;
  display: inline;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  }
